*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    
}
.body{
    width: 100%;

}
.container{
    overflow: hidden;
    /* margin: 59px 200px; */
    /* max-width: 1600px; */
}
a{
    /* color: #FFFFFF; */
    text-decoration: none;
}
li{
    list-style: none;
}
.block{
    /* padding: 59px 200px; */
    padding-left: 100px;
    padding-right: 100px;

}
/* //цены на услуги */
h1{
    font-weight: 600;
    font-size: 40px;
}
/* модели автомобилей */
h2{
    font-weight: 600;
    font-size: 24px;
}
/* диагностика системы впрыска */
.p1{
    font-weight: 500;
    font-size: 18px;
}
/* малярные работы */
.p2{
    font-weight: 500;
    font-size: 14px;
}
/* малярные работы кнопка */
.button{
    font-weight: 600;
    font-size: 16px;
    /* /// */
    width: 237px;
    min-width: 180px;
    height: 44px;
    border-radius: 4px;
}
.red_button{
    background-color: #D31313;
    color: #FFFFFF;
}
.blue_emphasize{
    font-size: 40px;
    font-weight: 600;
    color: #344079;
}
.header_brands{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header_brands_item{
    font-size: 12px;
    font-weight: 500;
    color: hsla(229, 40%, 34%, 0.6);
    background-color: #F0F0F0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    border-radius: 10px;
    white-space: nowrap;
    /* display: flex;
    flex-wrap: nowrap; */
    height: 15px;
}
.header_top{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header_brands::-webkit-scrollbar{
    width: 0;
}
.arrow_right img{
    transform: rotate(180deg);
}
.header_main{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header_main_colomn{
    width: 50%;
}
.header_main_colomn2{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header_main_colomn2_address, .header_main_colomn2_phone{
    margin-right: 50px;
}
.header_contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 160px;
}
.header_bottom{
    background-color: #333E7B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.header_main_navbar{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    /* margin-right: 20px; */
}
.header_main_navbar a{
    color: #FFFFFF;
}
.main_navbar_item{
    margin-right: 30px;
}
.header_socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 125px;
    margin-right: 20px;
}

.header_btn{

}
/* ///// */
.page_content{
 /* background-color: #9b9fb9; */
}
/* ////// */
.column{
    display: flex;
    flex-direction: column;
}
.footer{
    
    color: #FFFFFF;
    background-color: #333E7B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer_mobile{
    display: none;
}
.footer a{
    color: #FFFFFF;
}
.footer_column1, .footer_column2, .footer_column3{
    justify-content: space-between;
}
.footer_column1 li, .footer_column2 a{
    margin-top: 20px;
}

.footer_column1 a, .footer_column2 a{
    font-weight: 600;
    font-size: 16px;
}
.footer_socials{
    margin-top: 50px;
}
.footer_column2{
    width: 280px;
}
.footer_column2 nav{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.footer_column3{
    align-items: flex-end;
}
.footer_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.footer_logo img{
    margin-right: 20px;
}
.list_item{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid hsla(231, 41%, 34%, 0.2);
}
.services_item{
    /* height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid hsla(231, 41%, 34%, 0.2); */
}


/* 600
16px */
/* 500
14px */
/* 400
14px */
.main_page_block1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 100px;
}
.main_page_block1 a{
    color: #000;
    margin-top: 30px;
}
.main_page_block1_img{
    margin-right: -100px;
    /* position: absolute;
    right: 0; */
}
.main_page_block1 .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 100px;
    /* z-index: 1; */
}
.main_page_block1 li{
    margin-top: 20px;
}
.block1_btn{
    margin-top: 50px;
    color: #FFFFFF;
    background-color: #D31313;
}


.main_page_block2{
    background-color: #FFFFFF;
    color: #000;
    margin-top: 100px;

    /* flex-direction: row;
    justify-content: space-between; */
    
}
.main_page_block2 a{
    color: #000;
}
.main_page_block2 .block_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_page_block2 .column1 div{
    margin-bottom: 30px;
}
.main_page_block2 .column2{
    /* width: 400px; */
    width: 55%;
    /* width: 20vw;; */
}
.main_page_block2 .goTo{
    display: flex;
    align-items: center;
    margin-top: 60px;
    font-size: 16px;
    font-weight: 600;
}
.main_page_block2 .block_heading{
    width: 100%;
    text-align: center;
}
.main_page_block2 .block_content{
    display: flex;
    margin-top: 50px;
}
.block2_btn{
    color:#FFFFFF;
    background-color: #D31313;
}
.main_page_block3{
    margin-top: 200px;
}
.main_page_block3 .block_heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.main_page_block3 .block_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: center; */
}
.block3_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.main_page_block4{
    margin-top: 100px;
}
.main_page_block4 .block_heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.input{
    /* margin-right: 20px; */
}

.main_page_block5{
    background-color: #333E7B;
    color: #FFFFFF;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.main_page_block5 .block_heading{
    width: 700px;
    margin-bottom: 50px;
}
.main_page_block5 .block_heading h1{
    margin-bottom: 30px;
}
.main_page_block5 div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-direction: row;
}
.main_page_block5 .row{
    /* width: 100%;
    justify-content: center; */

    display: flex;
    justify-content: space-between;
    min-width: 546px;

}
.main_page_block5 .row2{
    width: 100%;
    justify-content: flex-end;
}
.main_page_block5 .block_content{
    /* position: relative; */
    width: 50vw;
}
.main_page_block5 .input, .main_page_block5 .button{
    width: 32%;
    min-width: 160px;
}
.main_page_block5 .personal_data{
    margin-top: 20px;
    width: 320px;
    margin-right: 0;
    text-align: start;
}
.main_page_block6{
    padding: 100px 100px;
}
.main_page_block6 .block_heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.main_page_block6 .block_content{
    display: flex;
    flex-direction: row;
    position: relative;
}
.main_page_block7{
    padding-bottom: 100px;
}

.main_page_block7 .block_heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.main_page_block7 .row1{
    margin-bottom: 50px;
    justify-content: space-around;
}
.main_page_block7 .numbers{
    position: relative;
    height: 209px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main_page_block7 .number_img{
    /* height: 209px; */
    position: absolute;
}
.main_page_block7 .input input{
    border: #333E7B solid 1px;
    height: 100%;
    width: 20vw;
    margin-right: 20px;
    border-radius: 4px;
}
.main_page_block7 .row2{
    justify-content: space-around;
}
.main_page_block7 .row3{
    width: 100%;
    justify-content: flex-end;
}
.main_page_block7 .personal_data{
    margin-top: 20px;
    width: 320px;
    text-align: start;
}
.mobile{
    display: none;
}

@media (max-width:900px) {
    /* //цены на услуги */
    .block{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header_logo{
        display: none;
    }
    .menu_btn_mobile{
        width: auto;
        height: auto;
        background-color: transparent;
    }
    .mobile{
        display: block;
    }
    .hidden{
        display: none;
    }
    .header_navbar_mobile{
        color: #FFFFFF;
        background-color: #333E7B;
        position: absolute;
        z-index: 3;
        right: 0px;
        top: 0px;
        width: 100vw;
        /* width: 100%; */
        height: 100vh;
        padding-left: 70px;
    }
    .navbar_header{
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .navbar_content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar_content a{
        color: #FFFFFF;
    }
    .main_navbar_item{
        margin-right: 0;
        display: flex;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.582);
    }
    .navbar_content .last{
        border-bottom: none;
    }
    .burger_close{
        background-color: transparent;
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .header_main_colomn2_phone{
        display: none;
    }
    .header_contacts{
        width: 100%;
    }
    .header_socials, .header_btn, .header_main_navbar{
        display: none;
    }
    .header_main_colomn{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header_main_colomn2_address{
        margin-right: 0;
        margin-left: 30px;
    }
    .header_contacts{
        margin-bottom: 10px;
    }
    .main_page_block1 .text{
        align-items: center;
        position: relative;
        text-align: center;
        left: 0;
    }
    .main_page_block1_img{
        position: relative;
        width: 100%;
        /* /// padding */
    }
    .main_page_block1{
        /* display: flex; */
        flex-direction: column;
    }
    .main_page_block2 .column2{
        width: 100%;
    }
    .main_page_block2 .block_content, .main_page_block3 .block_content{
        flex-direction: column;
    }
    button .block2_btn .desktop{
        display: none;
    }
    button .block2_btn .mobile {
        display: block;
    }
    .main_page_block5 div{
        margin-left: 0;
        margin-right: 0;
    }
    .main_page_block5 .block_content{
        width: 100%;
    }
    .main_page_block5 .block_heading{
        width: auto;
    }
    .main_page_block5 .row{
        flex-direction: column;
    }
    .main_page_block5 .row{
        min-width: 200px;
    }
    .main_page_block5 .input{
        width: 100%;
        height: 44px;
        margin-bottom: 20px;
    }
    .main_page_block5 .button{
        width: 100%;
        margin-top: 30px;
    }
    .main_page_block6 .block_content{
        flex-direction: column;
    }
    .main_page_block6 h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .main_page_block7 .row{
        flex-direction: column;
    }
    .main_page_block7 .row1{
        align-items: center;
    }
    .main_page_block7 .personal_data{
        align-self: flex-start;
    }
    .main_page_block7 .input input, .main_page_block7 .button {
        height: 44px;
        margin-bottom: 20px;
        width: 100%;
        /* width: 80vw; */
        min-width: 200px;
    }
    /* .main_page_block7 .button{
        width: 100%;
    } */
    .footer_desktop{
        display: none;
    }
    .footer_mobile{
        display: flex;
    }
    .footer{
        flex-direction: column;
        
        /* display: block; */

    }
    .footer_mobile_logo img{
        width: 100%;
    }
    .footer_mobile_nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        margin-top: 50px;
    }
    .footer_map img{
        width: 100%;
    }
    .footer_mobile_nav a{
        margin-bottom: 20px;
    }
    .footer_socials a{
        margin-right: 15px;
    }
    .h1{
    font-weight: 600;
    font-size: 24px;
    }
/* модели автомобилей */
    /* .h2{
    font-weight: 600;
    font-size: 24px;
    } */
/* диагностика системы впрыска */
    .p1{
    font-weight: 600;
    font-size: 14px;
    }
/* малярные работы */
    .p2{
    font-weight: 500;
    font-size: 14px;
    }
/* малярные работы кнопка */
    .button{
    font-weight: 600;
    font-size: 16px;
    }

}
@media (max-width:1152px) {

}